h1 {
  text-align: center;
}

.operations {
  display: flex;
  justify-content: center;
}

table {
  width: 90vw;
  margin: 30px auto;
}

tr th {
  padding: 8px;
}

tr {
  background: #f0efef;
  text-align: center;
}
table th:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}

table tbody tr td:nth-child(2) {
  width: 80%;
  text-align: left;
  padding: 5px 20px 5px 10px;
}
table tbody input {
  width: 100%;
}

ul {
  text-align: center;
}

.no-items {
  text-align: center;
  color: #000;
}
